@tailwind utilities;

@layer utilities {
  @keyframes fadeindark {
    0% {
      rotate: -180deg;
      scale: 0.7;
      opacity: 0.5;
    }
    
    50% {
      color: #9a9a9a;
      opacity: 0.85;
    }


    100% {
      scale: 1;
      rotate: 0deg;
      opacity: 1;
    }
  }

  @keyframes fadeinlight {
    0% {
      rotate: -180deg;
      scale: 0.7;
      opacity: 0.5;
    }

    50% {
      color: #fcfba9;
      opacity: 0.85;
    }

    100% {
      scale: 1;
      rotate: 0deg;
      opacity: 1;
    }
  }

  .fadeindark {
    animation-name: fadeindark;
    animation-duration: .5s;
    animation-timing-function: ease;
  }

  .fadeinlight {
    animation-name: fadeinlight;
    animation-duration: .5s;
  }
}