@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 0;

  outline: none;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden auto;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}


